/* Container for the form */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
  padding: 20px;
  width: 100%;
  overflow: hidden; /* Prevent overflow -*/
}

/* Form styling */
.contact-form {
  width: 100%;
  max-width: 780px; /* Max width of the form */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Align items vertically */
}

.form-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #4caf50;
  outline: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-form {
    padding: 15px;
  }

  .form-title {
    font-size: 1.6rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
  }

  .form-group button {
    font-size: 1rem;
  }
}
